{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="untree_co-section pb-0" id="home-section">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-7">

                     <div class="custom-block" data-aos="fade-up" data-aos-delay="100">
                <h2 class="section-title text-black">Register</h2>
                <form class="contact-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

               {{ form.as_p }}


                  <button type="submit" class="btn btn-primary">edit</button>
                    <br>

                </form>
              </div> </div>
      </div>

    </div>
  </div>
{% endblock content %}
