{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="untree_co-section pb-0" id="home-section">
<div class="container">
      <div class="portfolio-single-wrap unslate_co--section" id="portfolio-single-section">

        <div class="portfolio-single-inner">
          <h2 class="heading-portfolio-single-h2 text-black">Profile</h2>

          <div class="row mb-5 align-items-stretch">

            <div class="col-lg-6 mb-5 mb-lg-0">
              <img src="{{ user.user_img.url }}" alt="Image" class="img-fluid">
            </div>

            <div class="col-lg-6 pl-lg-5">
              <div class="row mb-3">
                <div class="col-sm-6 col-md-6 col-lg-6 mb-4">
                  <div class="detail-v1">
                    <span class="detail-label">Full name</span>
                    <span class="detail-val">{{ user.first_name }} {{ user.last_name }}</span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 mb-4">
                  <div class="detail-v1">
                    <span class="detail-label">Role</span>
                    <span class="detail-val"><a href="#">Identity</a>, <a href="#">Web Design</a></span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 mb-4">
                  <div class="detail-v1">
                    <span class="detail-label">Client</span>
                    <span class="detail-val">itpark-kagan.com</span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 mb-4">
                  <div class="detail-v1">
                    <span class="detail-label">Visit</span>
                    <span class="detail-val"><a href="https://untree.co">https://untree.co/</a></span>
                  </div>
                </div>
              </div>

              <h1>Bio</h1>
              <p>
                  {{ user.bio }}
              </p>
                <a href="{% url 'users:profile_edit' %}" class="btn btn-outline-black">Edit Profile <i class="fa-regular fa-pen-to-square"></i></a>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
