{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="untree_co-section pb-0" id="home-section">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-7">

                     <div class="custom-block" data-aos="fade-up" data-aos-delay="100">
                <h2 class="section-title text-black">Register</h2>
                <form class="contact-form" method="post">
                    {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="" for="fname">First name</label>
                        <input name="first_name" type="text" class="form-control" id="fname">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="" for="lname">Last name</label>
                        <input name="last_name" type="text" class="form-control" id="lname">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="" for="email">Email address</label>
                    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                     <div class="form-group">
                    <label class="" for="email">Username</label>
                    <input name="username" type="text" class="form-control">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label class="" for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password">
                  </div>


                  <button type="submit" class="btn btn-primary">Register</button>
                    <br>
                    <span>Agarda ro'yxatdan o'tgan bo'lsangiz <a href="{% url 'users:login' %}">linkni</a> bosing</span>
                </form>
              </div> </div>
      </div>

    </div>
  </div>
{% endblock content %}
