{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="untree_co-section pb-0" id="home-section">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <h1 class="heading gsap-reveal-hero mb-3"><strong>IT PARK<span class="text-primary">.</span> Kagan</strong></h1>
          <h2 class="subheading gsap-reveal-hero mb-4">
            A minimal, clean, and AJAX driven free portfolio template created by the fine folks at <strong>Untree.co</strong>. Read our <a href="https://untree.co/license" target="_blank">template license</a> here.
          </h2>
          <p class="gsap-reveal-hero"><a href="https://untree.co/" target="_blank" class="btn btn-outline-black">More free templates here</a></p>
        </div>
      </div>

    </div>
  </div>


  <div class="untree_co-section untree_co-section-4 pb-0"  id="portfolio-section">
    <div class="container">


      <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
      <div id="portfolio-single-holder"></div>

      <div class="portfolio-wrapper">

        <div id="posts" class="row">
            {% for product in products %}

          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="{% url 'posts:detail' product.id %}" class="portfolio-item  isotope-item gsap-reveal-img">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>{{ product.title }}</h3>
                  <p>category:{{ product.category.name }} {{ product.created_at }}</p>
                </div>
              </div>
                 <img src="{{ product.image.url }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

{% endfor %}


        </div>
      </div>


        <!-- </div>
        </div> -->
      </div>
    </div>







    <div class="untree_co-section pb-0" id="about-section">
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="col-lg-7 mx-auto text-center author-wrap">
            <img height="100" width="100" src="https://www.simplilearn.com/ice9/free_resources_article_thumb/full_stack_banner.jpg" alt="Image" class="img-wrap mb-3" style="border-radius: 50%;">
            <h3 class="text-black h5 font-weight-bold mb-2 gsap-reveal-hero">Mukhammadali Shamsidinov</h3>
            <p class="gsap-reveal-hero">Product Designer and FullStack Developer</p>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-7">


            <p class="gsap-reveal-hero" style="text-transform: uppercase">
                hello, my name is Muhammadali,
I am a full stack programmer, I am
currently working at itpark, I have been
programming for 3 years, and I have been working as a
mentor at Dream Academy for 1 year, as a trainer and freelancer at itpark
            </p>

            <p class="gsap-reveal-hero" style="text-transform: uppercase">
                mohirdevda va itparkda dasturlash kursini bitirganman
xozirda esa unversitet talabasiman
            </p>

            <p class="gsap-reveal-hero" style="text-transform: uppercase">
                my skills HTML CSS JS REACTJS REDUX BOOTSTRAP MATERIAL UI FIREBASE PYTHON POSTGRESQL DJANGO DRF CELERY
            </p>

            <p class="gsap-reveal-hero text-center"><a href="https://github.com/mukhammadali-shamsidinov?tab=repositories" target="_blank" class="btn btn-outline-black">My Projects</a></p>
          </div>
        </div>
      </div>
    </div>


    <div class="untree_co-section pb-0" id="services-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Bizning Xizmatlar</strong></h2>
            <p class="gsap-reveal-hero">The Big Oxmox advised her not to do so, because there were thousands of bad Commas.</p>
            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>

        <div class="row">
        {% for x in services %}
          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="{{ x.img.url }}" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">{{ x.title }}</h3>
              <p class="gsap-reveal-hero">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>


    <div class="untree_co-section pb-0">
      <div class="container">
        <div class="row mb-4">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>My Skillset</strong></h2>
            <p class="gsap-reveal-hero">The Big Oxmox advised her not to do so, because there were thousands of bad Commas.</p>
            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="0">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="98">
                <div class="number"></div>
                <p class="caption">Frontend</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="95">
                <div class="number"></div>
                <p class="caption">Backend</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="200">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="89">
                <div class="number"></div>
                <p class="caption">Web/Mobile App</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="300">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="85">
                <div class="number"></div>
                <p class="caption">Photoshop</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="untree_co-section testimonial-wrap">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>O'quvchilarni fikrlari</strong></h2>
            <p class="gsap-reveal-hero">What clients say...</p>

            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>


        <div data-aos="fade-left" data-aos-delay="200">



          <div class="owl-carousel owl-3-slider">
            <div class="item">
              <div class="testimonial-v1">
                <img src="images/person_1.jpg" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>James Smith</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>
            <!-- END .item -->

            <div class="item">
              <div class="testimonial-v1">
                <img src="images/person_2.jpg" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>Jenny Wilson</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>
            <!-- END .item -->

            <div class="item">
              <div class="testimonial-v1">
                <img src="images/person_3.jpg" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>Dan Anderson</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>
            <!-- END .item -->

            <div class="item">
              <div class="testimonial-v1">
                <img src="images/person_1.jpg" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>James Smith</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>
            <!-- END .item -->
          </div>
        </div>
      </div>
    </div>

    <div class="untree_co-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Blog Posts</strong></h2>
            <p class="gsap-reveal-hero">News &amp; Updates</p>

            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff" stroke-width="2"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="images/gal_1.jpg" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="images/gal_2.jpg" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="images/gal_3.jpg" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="images/gal_4.jpg" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="untree_co-section" id="contact-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Contact</strong></h2>
            <p class="gsap-reveal-hero">Available for work. Get in touch</p>

            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <form action="#">
              <div class="row">
                <div class="col-lg-6 form-group">
                  <input type="text" class="form-control" placeholder="Firstname">
                </div>
                <div class="col-lg-6 form-group">
                  <input type="text" class="form-control" placeholder="Lastname">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 form-group">
                  <input type="email" class="form-control" placeholder="Email address">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 form-group">
                  <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Write your message..."></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <input type="submit" class="btn btn-black" value="Send Message">
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-6">
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d320.12856481718734!2d-73.97263090448001!3d40.78263296621774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2588ff21eaaab%3A0xd0128d5d89a30429!2sMargarita%20Anthoine!5e0!3m2!1sen!2sph!4v1597149027268!5m2!1sen!2sph"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}


{#hello, my name is Muhammadali, #}
{#I am a full stack programmer, I am #}
{#currently working at itpark, I have been#}
{#programming for 3 years, and I have been working as a #}
{#mentor at Dream Academy for 1 year, as a trainer and freelancer at itpark#}

{#mohirdevda va itparkda dasturlash kursini bitirganman#}
{#xozirda esa unversitet talabasiman#}

{#Agar siz mening loyihalarimni ko'rishni#}
{#istasangiz, mening github sahifamga o'ting,#}
{#buning uchun tugmani bosing#}

{#my skills HTML CSS JS REACT BOOTSTRAP MATERIAL UI FIREBASE PYTHON POSTGRESQL DJANGO DRF CELERY  #}